STRIPE_API_SECRET_KEY=<API_SECRET_KEY>
STRIPE_CHECKOUT_SESSION_COMPLETED_WEBHOOK_SECRET=<CHECKOUT_SESSION_COMPLETED_WEBHOOK_SECRET>
AIRTABLE_API_KEY=<API_KEY>
AIRTABLE_BASE_ID=<BASE_ID>
AIRTABLE_ORDER_VIEW=<ORDER_VIEW>
AIRTABLE_ORDER_ITEMS_VIEW=<ORDER_ITEMS_VIEW>
AMOUNT_MANIPULATION_PROTECTION_TYPE=encryption
CRYPTO_PASSWORD=<PASSWORD>
CURRENCY=<ISO-4217-CODE>
CHECKOUT_SESSION_MODE=<payment|setup|session>
PAYMENT_METHOD_TYPES=card
PAYMENT_INTENT_CAPTURE_METHOD=<automatic|manual>
SHIPPING_ADDRESS_ALLOWED_COUNTRIES=<Comma separated ISO 3166-1 alpha-2 country codes>
SHIPPING_FEE=<AMOUNT>
FREE_SHIPPING_SUBTOTAL=<AMOUNT>
ALLOW_PROMOTION_CODES=<boolean>
ORDER_CREATE_ENABLED=<true|false>
DOMAIN=https://www.example.com
SUCCESS_URL_PATH=success?session_id=<CHECKOUT_SESSION_ID>
CANCEL_URL_PATH=cancel
PORT=80
